.productContainer {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  border-radius: 25px;
  background-color: white;
  text-align: center;
}

.imageTitleContainer {
  width: 100%;
  position: relative;
}

.productImage {
  height: 50%;
  width: 100%;
  background-color: lightgrey;
}

.title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 24px;
  z-index: 999;
}

.backButton{
  margin-top: 1vh;
  width: 33%;
  height: 4vh;
  border: 1px solid black;
  background-color: rgb(65, 153, 65);
  color: white;
}


.descriptionTitle{
  margin: 2vh 0;
}

.description{
  width: 90%;
  margin: 0 auto;
}

.dimensionTitle{
  margin: 2vh 0;
}

.infoTitle{
  margin: 2vh 0;
}

.reviewTitle{
  margin: 4vh 0 0;
}

.review{
  margin: 2vh 0;
  border: 1px dotted black;
  padding: 15px;
  border-radius: 5px;
}

.review > p{
  margin: 3px 0;
}


@media screen and (min-width: 1366px){
  .productImage{
    height: 40vh;
    object-fit: contain;
  }

  .allInfoProduct{
    max-width: 50%;
    display: flex;
    flex-flow: row wrap;
    margin: 5vh 0;
  }

  .backButton{
    width: 8%;
    height: 4vh;
  }

  .backButton:hover{
    background-color: rgb(18, 94, 18);
    cursor: pointer;
  }

  .descriptionSection{
    width: 100%;
    border: 1px solid black;
    padding: 4vh 0;
  }
  
  .dimensionSection{
    width: 50%;
    border: 1px solid black;
    padding: 4vh 0; 
  }
  
  .infoSection{
    width: 50%;
    border: 1px solid black;
    padding: 4vh 0;
  }

  .reviewSection{
    width: 50%;
    margin: 0 auto;
  }

  .descriptionTitle{
    margin: 0;
  }

  .dimensionTitle{
    margin: 0;
  }
  
  .infoTitle{
    margin: 0;
  }
  
}